*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Rubik:wght@300;400&family=Source+Code+Pro&display=swap');
.home{
    position: relative;
    max-width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to left bottom, #000000, #0b0a0a, #131212, #191818, #1f1e1e);
    overflow-x: hidden;
}
.home div{
    color: var(--purple);
    font-size: xx-large;
    width: fit-content;
    opacity: 40%;
}
.keyword{
    font-weight: bold;
    z-index: 2;
}
.Typewriter{
    color: white !important;
    opacity: 100% !important;
    margin-right: 100px;
}
.Typewriter__wrapper{
    font-size: 50px;
    font-weight: bolder;
    opacity: 100% !important;
}
.homepage-introduction{
    font-weight: bolder;
    font-size: 25px !important;
    opacity: 100% !important;
    align-self: flex-end;
    margin-right: 100px;
}
.logoHomepage{
    width: 1000px !important;
    height: 400px !important;
    border-radius: 7px;
    opacity: 100% !important;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}
#logo-home{
    display: flex;
    opacity: 100% !important;
    width: 100vw;
    justify-content: space-between;
    position: relative;
    z-index: 3;
    gap: 100px;
    top: 100px;
}
.typewriter{
    display: flex;
    flex-direction: column;
    opacity: 100% !important;
    margin-right: 100px;
}
.logoHomepage div{
    opacity: 100% !important;
}
@media (max-width: 1000px) {
    .typewriter{
        margin-left: auto;
    }
    .typewriter{
        margin-right:  10px;
    }
    .logoHomepage{
        display: none;
    }
    #logo-home{
        display: block;
    }
    .homepage-introduction{
        margin-right: 10px;
    }
    .Typewriter{
        margin-right: 10px;
    }
}
.close{
    height: 15px !important;
    width: 15px !important;
    border-radius: 50%;
    background-color: red;
    opacity: 100% !important;
}