:root{
  --white: #FFFFFF;
  --grey: #949CB0;
  --primary-black: #131313;
  --secondary-black: #060606;
  --purple: #687EFF;
}
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Poppins:wght@200&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}
.App{
  background-color: #121212;
  border: 1px solid black;
  height: 100vh;
  width: 100%;
}
.logo {
  margin-left: 100px ;
  font-size: 30px;
}
.navbara a {
  text-decoration: none;
  color: var(--white);
}
.login,.signup {
  font-size: 20px;
  margin-left: 30px;
}
.navbara a:hover{
  color: #d8d8d8;
}
.signup{
  margin-right: 100px;
}
.authentication{
  margin-right: 50px;
}
.search input{
  border-width: 0;
  width: 200px;
  height: 25px;
  outline: none;
  position: relative;
  z-index: 1;
  background-color: #b6b6b6;
  border-bottom: 1px solid black;
}
.menu-links li:hover{
  background-color: white;
  border-radius: 7px;
  cursor: pointer;
}
.menu-links li:hover a{
  color: black;
}
.menu-links li:hover svg{
  fill: black;
}
.menu-links li{
  display: flex;
  gap: 10px;
}
.search span{
  z-index: 2;
  right: 170px;
  transition-duration: 0.7s;
  margin-right: 10px;
}
.search span:hover{
  transform: scale(0.9);
}
.search input::placeholder{
  font-size: large;
  transition-duration: 0.7s;
}
.search input[type='text']{
  font-size: 15px;
}
.search{
  margin-right: 30px;
}
.search input::placeholder{
  color: white;
}
.search input:hover::placeholder{
  color:white;
}
.search span:hover{
  fill: white;
}
.profile-logout{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.menu-links{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
}
.menu-links li{
  margin-left: 10px;
  font-size: 20px;
}
.menu-logo{
  padding-bottom: 5px;
  color: var(--white);
  font-weight: bolder;
  margin-top: 30px;
  margin-bottom: 15px;
  margin-right: auto;
  margin-left: 20px;
  font-size: 1.5ch;
}
.search input{
  background-color: #313131;
}
.name{
  margin-right: 20px;
  font-size: 20px;
}
.error-text{
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.error{
  left: auto;
  border-radius: 5px;
  display: flex;
  top: 30px;
  right: 0;
  position: absolute;
  background-color: white;
  border: 1px solid red;
  font-size: large;
  width: 350px;
  height: 50px;
  margin-bottom: auto;
  margin-right: 10px;
  animation-duration: 0.5s;
  animation-name: slidein;
}
.not-error{
  animation-duration: 0.5s;
  animation-name: slideout;
}
@keyframes slidein {
  from{
    opacity: 100%;
    right: -100%;
  }
  to{
    opacity: 100%;
    right: 0;
  }
}

.error-class{
  display: flex;
  justify-content: center;
  align-items: center;
}
.error-class svg{
  margin-left: 10px;
}
.menu-click ul li{
  display: flex;
  align-items: center;
}
.routes{
  margin-left: 50px;
  margin-right: 50px;
}
@media  (max-width: 480px){
  .menu-click ul li svg {
    fill: white;
    font-size: medium;
    margin-right: 10px;
    margin-left: 5px;
  }
  .menu-logo{
    font-size: medium;
  }
  .menu-links{
    margin-top: -10px;
  }
  .error{
    width: 250px;
    font-size: 13px;
  }

  .authentication{
    display: none;
  }
  .logo {
    font-size: 15px;
    margin-left: 10px;
  }
  .navbara{
    height: 40px;
  }
  .menu{
    display: flex;
    margin-left: auto;
    margin-right: 20px;
  }
  .search{
    display: none;
  }
  .routes{
    display: none;
  }
  .menu-click{
    width: 150px;
  }
  .menu-click .menu-links li a{
    font-size: medium;
  }
  .line-break{
    width: 110px;
  }
  .profile-info{
    right: 54px !important;
  }
  .publish{
    width: 90% !important;
  }
}

@media (min-width: 481px) and (max-width: 767px){
  .authentication{
    display: none;
  }
  .logo {
    font-size: 20px;
    margin-left: 25px;
  }
  .navbara{
    height: 50px;
  }
  .menu{
    display: flex;
    margin-left: auto;
    margin-right: 20px;
    font-size: x-large;
  }
  .search{
    display: none;
  }
  .routes{
    display: none;
  }
  .signup-preview{
    display: none; 
  }
  .error{
    font-size: medium;
    width: 300px;
  }
  .profile-info{
    right: 61px !important;
  }
  .publish{
    width: 90% !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px){
  .authentication{
    display: none;
  }
  .logo {
    font-size: 25px;
    margin-left: 25px;
  }
  .navbara{
    height: 50px;
  }
  .menu{
    display: flex;
    margin-left: 20px;
    margin-right: 25px;
    font-size: x-large;
  }
  .search{
    display: none;
  }
  .routes{
    display: none;
  }
  .publish{
    width: 90% !important;
  }
}
@media (min-width: 1025px) and (max-width: 1280px){
  .dropdown-menu{
    display: none;
  }
  .authentication{
    display: none;
  }
  .logo {
    font-size: 25px;
    margin-left: 25px;
  }
  .navbara{
    height: 50px;
  }
  .menu{
    display: flex;
    margin-left: 20px;
    margin-right: 25px;
    font-size: x-large;
  }
  .search{
    display: none;
  }
  .routes{
    display: flex;
    align-items: center;
    gap: 50px;
  }
  .profile-info{
    right: 0px !important;
  }
  .menu-btn, .menu-btn div{
    display: none !important;
    visibility: hidden !important;
  }
  
}
@media (min-width: 1281px) {
  .dropdown-menu{
    display: none;
  }
  .name{
    margin-right: 100px;
  }
  .authentication{
    display: block;
  }
  .routes{
    display: flex;
    align-items: center;
    font-size: large;
    display: flex;
    gap: 50px;
  }
  .profile-info{
    right: 0px !important;
  }
  .menu-btn, .menu-btn div{
    display: none !important;
    visibility: hidden !important;
  }
}
.solutii table tr td {
  text-align: center;
  border: 1px solid white;
}
.solutii table tr td a{
  color: white;
  text-decoration: none;
}
.solutii table tr th{
  border: 1px solid white;
  font-size: 20px;
  font-weight: 900;
}
.solutii{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.solutii table{
  height: fit-content;
  border-collapse: collapse;
  width: 100%;
  margin: 0 50px 0px 50px;
}
.solutii table tr th{
  background-color: #313131;
}