.navbara{
    width: 100vw;
    height: 60px;
    background-color:#313131;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
    position: relative;
}
.menu-navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-bar{
   background-color: white;
   outline: none;
   width: 20ch;
}
.search-bar:focus{
  transition-duration: 1s;
  width: 30ch;
}
.profile-wrapper{
  height: 110px;
  width: 100%;
  position: fixed;
  bottom: 0;
}
.profile-picture{
  border-radius: 50%;
  margin: 20px;
  height: 32px;
  width: 32px;
  background-color: white;
}
.menu-click{
  background-color: #121212;
}
.menu-click {
  background-color: #121212;
  position: absolute;
  height: 100vh;
  z-index: 4 !important;
}
.options div{
  margin-right: 20px;
}
.options div:hover{
  background-color: #EBEBE5;
  border-radius: 7px;
}
.cancelIcon:hover{
  opacity: 70%;
}
@keyframes slideIn {
  from{
    height: 0;
  }
  to{
    height: 300px;
  }
}
@keyframes slideOut {
  0% {
    height: 300px;
    display: block;
  }
  100% {
    height: 0;
    display: none;
  }
}
@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 100%;
  }
}
.dropdown-menua{
  position: absolute;
  top: 60px;
  width: 100vw;
  height: 300px;
  background-color: #D8D8D8;
  animation-duration: 0.3s;
  animation-fill-mode: backwards;
  animation-name: slideIn;
}
.slide-out{
  animation-name: slideOut;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
.dropdown-menua div{
  font-size: x-large;
  margin: 15px;
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
}
.dropdown-menua a{
  color: black;
  text-align: end;
}
.dropdown-menua a:hover{
  color: #121212;
  opacity: 75%;
}
@keyframes fadeOut {
  0%{
    opacity: 100%;
  }
  100%{
    opacity: 0%;
  }
}
.fadeIn{
  animation-duration: 0.4s;
  animation-fill-mode: backwards;
  animation-name: fadeIn;
}
.fadeOut{
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
  animation-name: fadeOut;
  display: none;
}
.menu-home{
  color: black;
}
.menu-btn{
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 30px;
  width: 30px;
  position: relative;
  transition: all .5s ease-in-out;
  margin-right: 20px;
}
.menu-btn div{
  width: 30px;
  height: 4px;
  background-color: white;
  border-radius: 3px;
  transition: all .3s ease-in-out;
}
.menu-btn div::before, .menu-btn div::after{
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: white;
  transition: all .3s ease-in-out;
  border-radius: 3px;
}
.menu-btn div::before{
  transform: translateY(-8px);
}
.menu-btn div::after{
  transform: translateY(8px);
}
.open div{
  background: transparent;
}
.open div::before{
  transform: rotate(45deg);
}
.open div::after{
  transform: rotate(-45deg);
}
#root{
  background-color: #1c1c1c !important;
}