*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Poppins:wght@200&display=swap');
.concursuri-scolare,
.concursuri-admitere {
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #1c1c1c;
    margin: 10px;
    border-radius: 7px;
    width: 300px;
}
.concursuri-scolare a{
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: large;
}
.concursuri-scolare a:hover{
    background-color: #515151;
}
.concursuri-scolare a:nth-child(1){
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.concursuri-scolare a:last-child{
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.concursuri-title,
.concursuri-admitere-title{
    color: white;
    font-size: xx-large;
    margin-top: 20px;
}
.concursuri-admitere a{
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: large;
}
.concursuri-admitere a:hover{
    background-color: #515151;
}
.concursuri-admitere a:nth-child(1){
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.concursuri-admitere a:last-child{
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.problems{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
@media (max-width: 650px) {
    .concursuri-title,
    .concursuri-admitere-title{
        margin-left: 3vw;
    }
    .concursuri-admitere{
        width: 90vw;
    } 
    .concursuri-scolare{
        width: 90vw;
    }
}
.problem-link{
    text-decoration: none;
    color: white;
    display: block;
}
.problem-link:hover{
    color: #d8d8d8d8;
}
.problems-wrapper{
    height: 100vh;
    background-color: #1c1c1c;
}