@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&family=Poppins:wght@300&family=Rubik:wght@300;400&family=Source+Code+Pro&display=swap');
.problem-wrapper{
    gap: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.problem-info{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.text-editor{
    background-color: #1c1c1c;
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 70% !important;
}
.content-links li{
    list-style: none;
    background-color: #313131;
    padding: 10px;
}
@media (max-width: 826px) {
    .text-editor{
        width: 95% !important;
    }
    .problem-info{
        width: 95% !important;
    }
    .problem-wrapper{
        flex-direction: column;
        height: 100%;
    }
    .App{
        height: 100%;
        max-height: fit-content;
    }
    .text-editor{
        margin-top: 20px;
    }
    .cm-editor{
        max-width: 99vw !important;
    }
    .erori{
        width: 95% !important;
    }
}
.elements{
    width: min-content;
    height: 100vh;
}
.cm-line{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.eroare-test{
    background-color: red;
    opacity: 60%;
    border: 1px solid red;
    margin: 25px;
    width: 80vw !important;
}
.exempluProblema p, h3{
    font-family: monospace;
}
.exempluProblema h3{
    font-family: monospace;
}