.profile-info{
    width: calc(100% - 40px);
    background-color: white;
    color: black;
    margin: 20px;
    height: calc(50vh - 64px);
    border-radius: 7px;
    display: flex;
}
.profile-username{
    margin-left: 20px;
    margin-top: 10px;
    font-size: 3ch;
}