.publish label{
    color: white;
}
/* .publish{
    display: grid;
    flex-direction: column;
    height: fit-content;
    background-color: #1c1c1c;
    border-radius: 10px;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;
    gap: 50px;
}
.pictures-wrapper{
    margin-left: 20px;
    display: grid;
    gap: 20px;
    margin-bottom: 20px;
}
.pictures-wrapper button{
    border-radius: 15px;
    outline: none;
    border-width: 0px;
    padding: 7px;
    height: 50px;
    margin-right: 20px
} */
.publish-button{
    margin-bottom: 20px;
    border-radius: 10px;
    outline: none;
    border: 0px;
}
.image{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.image div{
    display: grid;
    gap: 10px;
}
.example-button{
    border: 1px solid white;
    border-radius: 7px;
}
.test-button{
    margin-left: 20px;
}
.margin{
    margin-left: 20px;
    margin-right: 20px;
}
.enunt_si_cerinta, 
.info-problem,
.teste,
.info-examples{
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 6px;
    flex: 1;
}
.info-examples{
    border: 0;
}
.publish{
    margin: 20px;
    margin-bottom: 0px;
    gap: 20px;
    display: grid;
    margin: 0 auto;
    margin-top: 20px;
    width: 50%;
}
.select-tags{
    margin-left: 20px;
    margin-right: 20px;
}
.MuiOutlinedInput-notchedOutline{
    border-color: white !important;
 }
 .Mui-Focused{
    color: white !important;
 }
 .css-o943dk-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
    color: white !important;
 }
 .info-examples{
    display: flex;
    flex-direction: column;
    gap: 20px;
 }
 .css-7209ej-MuiInputBase-input-MuiFilledInput-input{
    color: white !important;
 }
 .MuiList-root li{
    color: black !important;
 }
 .publish > div{
    background-color: #121212;
 }
 .css-1e6y48t-MuiButtonBase-root-MuiButton-root{
    background-color: black !important;
 }