.signup-form-container{
  background-color: var(--white);
}
.signup-form{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 20px 50px 50px 50px !important;
}
.signupLogo{
  align-self: flex-start;
  font-size: 30px;
  border-bottom: 1px solid var(--secondary-black);
  margin-top: 20px;
}
.signup-form input{
  border-width: 0;
  border-bottom: 1px solid var(--primary-black);
  outline: none;
  width: 250px;
}
.menu-links a:hover{
  color: #b5b5b5;
}
.signupSubmit{
  border-width: 0;
  border-radius: 7px;
  width: 100%;
  height: 32px;
  background-color: var(--purple);
  color: var(--white);
  font-size: 16px;
}
.signupSubmit:hover{
  opacity: 90%;
}
.hidden-menu{
  fill: white;
}
.signin{
  text-align: center;
  font-size: large;
  margin-bottom: 20px;
}
.signin a{
  text-decoration: none;
  color: var(--purple);
}
.signin a:hover{
  opacity: 70%;
}
.white-space{
  background-color: red;
  width: 10px;
  border: 1px solid red;
}
.error-text{
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.error{
  left: auto;
  border-radius: 5px;
  display: flex;
  top: 64px;
  right: 0;
  position: absolute;
  background-color: white;
  border: 1px solid red;
  font-size: large;
  height: 50px;
  margin-bottom: auto;
  margin-right: 10px;
  animation-duration: 0.5s;
  animation-name: slidein;
  margin-right: 20px;
}
.not-error{
  animation-duration: 0.5s;
  animation-name: slideout;
}
.icon:hover{
  fill: var(--purple);
}
.MuiButtonBase-root{
  color: white !important;
}
.another-auth > button:hover{
  background-color: #edf0f5  !important;
}
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select{
  color: white;
}